body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 200px 1fr;
}

header {
    grid-column: 2 / -1;
    background-color: white;
}

aside {
    grid-row: 1 / -1;
    background-color: #1992D4;
}

main {
    background-color: #E2E8F0;
}

/* Icons */

i.fa {
    align-self: center;
}

/* Details */

aside {
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.logo > div {
    height: 60px;
    width: 60px;
    background-size: 70px 70px;
    border-radius: 50%;
    background-color: white;
    background-image: url(./images/dashboard-icon-transparent.png);
    background-position: center;
}

.logo p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}

.button {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button > * {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.upper-buttons {
    margin-bottom: 50px;
}

/* Header */

header {
    padding: 25px 50px;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 20px;
}

.search-container {
    width: 800px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-container input {
    background-color: #E2E8F0;
    border-radius: 20px;
    border: none;
    width: 70%;
    padding: 5px 16px;
    height: 24px;
    outline: none;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.smaller-profile-icon {
    height: 40px;
    width: 40px;
    background-color: blue;
    border-radius: 50%;
}

.profile-info p {
    font-family: sans-serif;
    font-weight: bold;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.hello-text p:first-child {
    margin: 0;
}

.hello-text p:last-child {
    margin: 0;
    font-size: 20px;
}

.bigger-profile-icon {
    height: 60px;
    width: 60px;
    background-color: blue;
    border-radius: 50%;
}

.action-buttons {
    display: flex;
    gap: 30px;
}

.action-buttons > div {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #1992D4;
    padding: 10px 30px;
    border-radius: 20px;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 16px;
    gap: 24px 40px;
}

main > div {
    /* border: 1px solid red; */
}

main > div > p:first-child {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#your-projects {
    grid-row: 1 / -1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
}

.grid {
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid orange;
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-text > p:first-child {
    font-weight: bold;
}

.grid-buttons {
    align-self: flex-end;
    display: flex;
    gap: 24px;
    font-size: 20px;
}

